.pacifico-regular {
  font-family: "Pacifico", 'Verdana', cursive;
  font-weight: 400;
  font-style: normal;
}

body {
    cursor: url("icons8-heart-30.png"), auto;
    margin: 0;
}

q {
  float: right;
}

p {
  width: 70%;
  line-height: 1.5em;
  font-style: oblique;
}

.nm{
  display: inline-block;
}

nav {
    
  padding: 1em 0;
  padding-top: 1%;
  padding-right: 1%;
  float: right;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  transition: background-color 0.5s ease;
}

hr{
  border: none !important;
  background-color: none !important;
  margin: 3% 0 !important; 
}

#products{
  padding: 5% 0;
}
  
#aboutus {
  padding: 2%;
  font-style: oblique;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255, 120, 140, 0.5) 80%);
  justify-content: center;
}

#forms{
  display: flex;
  padding-top: 2%;
  font-size: 0.75em;
}

#contactus{
  width: 50%;
  padding: 5%;
}

#contactus h1{
  margin-bottom: 2%;
}
  
#newsletter{
  float: right !important;
  margin-left: 2%;
  padding: 0 2% 0 5%;
  border-radius: 4%;
  font-size: 1.2em;
  flex-grow: 1;
}

#submit{
  border-radius: 1em;
  padding: 1% 5%; 
  border: none; 
  cursor: pointer;
  margin-bottom: 5%;
}

#lname, #fname {
  width: 15em;
  padding: 2%; 
  border-radius: 0.5em; 
  font-size: 1em;
  box-sizing: border-box; 
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1% 1% 1%;
}

#prodopt{
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #facada 65%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay h1 {
  font-size: 6em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 1; 
}

#nb{
  z-index: 2;
}

.con {
  position: relative;
  width: 100%;
  height: 30em;
  background-image: url('https://cdn.pixabay.com/photo/2020/02/15/17/36/macaroons-4851545_1280.jpg');
  background-size: cover; 
  background-position: center; 
  z-index: -1;
}

#nbar{
  display: flex;
  height: 2%;
  width: 100%;
  padding: 0% 0.5%; 
  z-index: 1000;
}

header h1{
  font-size: 2em;
}

#nb{
  padding-left: 1%;
  padding-top: 1%;

}

#nb h1{
  font-size: 2.5em;
}
/*Do ovdje si došla sa sređivanjem*/

#nbar {
  background-color: transparent;
  transition: background-color 0.3s ease;
}

#nbar:hover {
  background-color: #facada;
}

body.scrolled #nbar {
  background-color: #facada; 
  box-shadow: 0 0.3em 0.8em rgba(255, 120, 140, 0.1);
}

.secname{
  font-size: 2.5em;
  margin-bottom: 2%;
    font-family: 'Pacifico','Verdana', cursive;
    text-shadow: 0.03em 0.03em 0.05em rgba(255, 120, 140, 1);
}

.optone{
  display: inline-block;
  padding: 2% !important;
  border-radius: 2%;
  transition: background-color 0.5s ease;
  height: 25em;
  
  
}

.optone:hover {
  background-color: #ff788c;
  font-family: 'Pacifico','Verdana' cursive;
  box-shadow: 0 0.5em 1.2em rgba(128, 63, 73, 0.2);
}

.optone a {
  color: #401f24!important;
  text-decoration: none !important;
  text-shadow: 0.03em 0.03em 0.05em  #ff788c  !important;
}

.optone a:hover{
  color: white !important;
  text-shadow: 0.03em 0.03em 0.05em #facada !important;
}

.optimg{
  width: 18em;
  height: auto;
}

label{
  color: #401f24;
  font-style: oblique;
  font-family: 'Roboto';
  }

.auone{
  display: flex;
  flex-direction: row;
  margin: 4% 0;
  padding: 0 2%;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
  align-items: center;
}

.auone p  {
  color: #401f24;
}

.auimg{
  height: 60%;
  border-radius: 2%;
  flex-shrink: 0;
}

.rdesc{
  text-align: right;
  flex-grow: 1;
  
}

.rdesc, .ldesc{
  
  margin: 0 3%;
  width: 50%;
  float: left;
  float: none;
}

.auone.show {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 768px) {
  .auone {   
    align-items: center;    
    flex-direction: column;
      
  }
  .auimg {
    width: 60%; 
  }

  .rdesc, .ldesc {
    width: 80%;
    font-size: 0.8em; 
    text-align: center;
  }
}

footer{
  color:#65222c;
  font-family: 'Roboto';
}

.ovr{
  justify-content: center;
}

.options .navbar-nav.ml-auto {
  margin-left: auto !important; 
}