*::selection{
  background-color: #ffacc8;
}
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}


body {
    background-color: #facada;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}



h1 {
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
q{
  float: right;
  font-family: 'Pacifico', cursive;
}

p {
    width: 40%;
}


.nm{
    display: inline-block;
}

nav {
    
    padding: 10px 0;
    padding-top: 1%;
    padding-right: 1%;
    float: right;
  }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
nav ul li {
    display: inline;
  }

nav ul li a {
    display: inline-block;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
  }

nav ul li a:hover {
    background-color: #ff788c;
    color: white;
  }

  hr {
    border: none;
    border-color: white; 
    height: 1em;
    background-image: linear-gradient(rgba(255, 120, 140, 0), rgba(255, 120, 140, 0.2), rgba(255, 120, 140, 0)); 

    margin: 20px 0;
    border-radius: 1.5em;
  }

  #products{
    padding-bottom: 3%;
  }
  #aboutus {
    padding: 2%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:#65222c;
    font-style: oblique;
  }


  #cake{
    float: right;
    flex-shrink: 0;

  }

  .ovr h1{
    display:inline-block;
    text-align: right;
    width:15%;
    margin-left: 0%;
    padding-right: 5%;
    margin-top: 0;
  }

  .ovr{
    display: flex;
    justify-content: center;
  }

  .ovr p{
    text-align: left;
    margin-right: 10%;
  }

  #forms{
    display: flex;
    
    font-size: 0.75em;
  }

  #contactus{
    width: 50%;
    padding: 5%;
  }

  #contactus h1{
    margin-bottom: 2%;
  }
  
  #newsletter{
    background-color: #ff788c;
    border: 2px solid #65222c;
    padding: 0 5% 0 2%;
    border-radius: 4%;
    font-size: 1.2em;
  }

  #submit{
    color:pink;
    background-color: #65222c;
    border-radius: 2%;
    padding: 5px 10px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Pacifico', crusive;
    margin-bottom: 5%;
  }

  #lname, #fname {
    width: 300px;
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px;
    color: #333; 
    box-sizing: border-box; 
  }

  footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1% 1% 1%;
  }


#cake {
    display: block;
    max-width: 100%;
    height: auto;
}



#prodopt{
  display: flex;
  justify-content: space-between;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #facada 65%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay h1 {
color: white;
text-shadow: 2px 2px 4px #ff788c;
font-size: 6em;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white; 
z-index: 1; 
}

#navbar{
z-index: 2;
}

.container {
position: relative;
width: 100%;
height: 30em;
background-image: url('https://cdn.pixabay.com/photo/2020/02/15/17/36/macaroons-4851545_1280.jpg');
background-size: cover; 
background-position: center; 
z-index: -1;
}


#nbar{
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5%;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0; 
  z-index: 1000;
}
main{
  margin-top: 3%;
}

header h1{
  color: white;
  font-size: 2em;
}

#navbar{
  padding-left: 1%;
  padding-top: 1%;
}
#navbar h1{
  font-size: 2.5em;
}

#nbar {
  background-color: transparent;
  transition: background-color 0.3s ease;
}


#nbar:hover {
  background-color: #facada;
}


body.scrolled #nbar {
  background-color: #facada; 
  box-shadow: 0 4px 6px rgba(255, 120, 140, 0.1);
}


.secname{
  font-size: 2.5em;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 4px #ff788c;
}

.optone{
  
  padding: 2%;
  border-radius: 2%;
  transition: background-color 0.3s ease;
  height: 20em;
}

.optone:hover {
  background-color: #ff788c;
  font-family: 'Pacifico', cursive;
  color: white;
  box-shadow: 0 4px 6px rgba(128, 63, 73, 0.5);
}

.optimg{
  width: 300px;
}


